name: Publish Main

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run Assemble Artifact
        run: ./gradlew assembleFreeDynamicDebug

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: lemuroid-app/build/outputs/apk/freeDynamic/debug/lemuroid-app-free-dynamic-debug.apk

  publish_apk:
    name: Publish APK on Github
    needs: [ build ]
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: apk

      - name: Create pre-release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: true
          automatic_release_tag: "latest-main"
          title: "Development Build (Main)"
          # Na v4, o download cria uma pasta com o nome do artefato (apk/).
          # Por isso o caminho abaixo inclui "apk/".
          files: apk/lemuroid-app-free-dynamic-debug.apk
