name: Publish Main

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Show Git info
        run: |
          git --no-pager log -n 5 --pretty=oneline
          git status --porcelain
          git rev-parse --abbrev-ref HEAD
          echo "Changed files in last commit:"
          git show --name-only --pretty="" HEAD

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run Clean Assemble
        run: ./gradlew clean assembleFreeDynamicDebug --no-daemon

      - name: List APKs
        run: |
          find . -type f -name "*.apk" -print || true

      - name: Upload APKs
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: '**/*.apk'

  publish_apk:
    name: Publish APK on Github
    needs: [ build ]
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: apk

      - name: Create pre-release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: true
          automatic_release_tag: latest-main
          title: Development Build (Main)
          files: '**/*.apk'